@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --bg-color: #121720;
    --border:.1rem solid rgb(53, 53, 53);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    color: white;
}
body{
    background-color: var(--bg);
}
a{
    text-decoration: none;
    color: white;
}
i{
    font-size: 1.5rem;
    color: white;
}
header{
    width: 100%;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--bg);
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin-left: 2em;
}
.logo img{
    width: 70%;
    height: 70%;
    padding: 5px;
}
.links{
    width: 50%;
    min-height: 50px;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
}
.links a:hover{
    transition: 300ms;
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
    padding-bottom: 4px;
}
.snk{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 50px;
    margin-right: 1.1rem;
}
.snk i:hover{
    transition: 300ms;
    color: var(--main-color);
}
#query{
    transition: 0.2s all ease;
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    font-size: 1.2rem;
    padding: 10px;
    color: black;
    display: none;
}
#openMenu{
    display: none;
}
.cart{
    width: 35%;
    min-width: 250px;
    height: 90vh;
    border: 1px solid wheat;
    position: fixed;
    top: 66px;
    right: -500px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
}
.item{
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.item .item-img img{
    width: 70px;
    height: 70px;
}
.item .item-info h3{
    color: black;
}
.item .item-info p{
    color: var(--main-color);
}
.item i{
    color: black;
}
.item i:hover{
    transition: 200ms;
    color: var(--main-color);
}
.top{
    width: 100%;
    min-height: 88vh;
    background-image: url('./images/home-img.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.content{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2em;
    padding-left: 1em;
}
.content h1{
    font-size: 3.5rem;
}
.content p{
    font-size: 1.2rem;
    font-weight: lighter;
}
.btn{
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    padding: 8px 14px;
}
.btn:hover{
    transition: 0.5s;
    letter-spacing: 2px;
}
.hero{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1.2rem;
    padding: 1.1rem 0;
}
.hero h1{
    text-transform: uppercase;
}
h1 span{
    color: var(--main-color);
}
.about{
    width: 95%;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
}
.image{
    width: 50%;
    height: 100%;
    /* background-color: var(--border); */
}
.image img{
    width: 100%;
    height: 100%;
}
.data{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    font-size: 1rem;
    padding: 1.2em;
}
.data p{
    color: rgb(214, 214, 214);
    font-weight: 300;
}
.data a{
    width: 150px;
}
@media all and (width < 750px){
    .snk{
        width: 30%;
    }
    .links{
        width: 50%;
        height: 90vh;
        flex-direction: column;
        align-items: start;
        padding-left: 1rem;
        justify-content: flex-start;
        z-index: 100;
        background-color: white;
        gap: 1.2rem;
        position: fixed;
        top: 67px;
        right: 00px;
        transition: all 0.5s ease-in-out;
    }
    .links a{
        padding-top: 10px;
        color: var(--black);
    }
    #openMenu{
        display: block;
    }
    .top{
        align-items: center;
    }
    .content{
        width: 70%;
        align-items: center;
        justify-content: center;
    }
    .content h1{
        font-size: 2.5rem;
    }
    .content p{
        font-size: 1rem;
        font-weight: lighter;
    }
    .about{
        flex-direction: column;
    }
    .image{
        width: 100%;
    }
    .data{
        width: 100%;
    }
}